* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.main {
  width: 41rem;
  margin: 10rem;
  justify-content: center;
  border: 2px solid rgb(214, 206, 206);
  box-shadow: 5px 10px #8888;
  align-items: center;
}

h1 {
  color: #888;
  padding: 1rem;
  font-size: 18px;
  margin-left: 2rem;
  border-bottom: 3px solid #f1f1f1;
}

li {
  list-style: none;
  border-bottom: 4px solid #f1f1f1;
  padding: 0.5rem;
  color: rgb(93, 83, 83);
}

.btn {
  padding: 2rem;
  width: 40rem;
  height: 2rem;
  color: rgb(79, 75, 75);
  background-color: #f1f1f1;
  border: 0;
  margin-top: 1rem;
}

.tasklist {
  padding-left: 2rem;
}

#Taskfield {
  padding: 1rem;
  width: 38rem;
  margin-left: 2rem;
  border-bottom: 3px solid #f1f1f1;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-style: italic;
}

label {
  padding: 1rem;
  font-size: 16px;
}

.checkbox {
  width: 1rem;
  height: 1rem;
}

.btn:hover {
  background-color: #888;
  color: rgb(73, 70, 70);
  font-size: medium;
  font-weight: bolder;
}

.labelclass {
  border: 0;
  padding: 0.5rem;
  font-size: medium;
  color: rgb(78, 76, 76);
}

.error {
  color: red;
  padding-left: 3rem;
}
